$black: #0D0E10;
$black-dark :#050607;
$black-light : #15171A;

$white: #F5F7F7;
$white-dark :#EDEFF0;
$white-light : #FAFCFC;

$primary: #58BF40;
$primary-dark :#1c8b03;
$primary-light : #89c97a;

$gray-1: #777;
$white: #fff;