* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

#__nuxt,
#__layout {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: $black-dark;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $white;
  font-weight: 400;
}

h1 {
  font-size: 96px;
  line-height: 100%;

  @include screen('small') {
    font-size: 56px;
  }
}

h2 {
  font-size: 72px;
  line-height: 110%;

  @include screen('small') {
    font-size: 42px;
  }
}

h3 {
  font-size: 56px;
  line-height: 115%;

  @include screen('small') {
    font-size: 32px;
  }
}

h4 {
  font-size: 32px;
  line-height: 120%;
}

h5 {
  font-size: 24px;
  line-height: 130%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

.mask {
  background: linear-gradient(180deg, $blue-dark 0%, $blue-light 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}