$black: #0D0E10;
$black-dark :#050607;
$black-light : #15171A;

$white: #F5F7F7;
$white-dark :#EDEFF0;
$white-light : #FAFCFC;

$blue: #5392FF;
$blue-dark :#1F57A4;
$blue-light : #6FA1FB;

$gray-1: #777;
$white: #fff;